# List of exercises

In [1]:
# write your code here

def fizzbuzz():
    for n in range(1,51):
        if n %5 == 0 and n %3 == 0:
            print(f"FizzBuzz")
        elif n %5 == 0:
            print(f"Buzz")
        elif n %3 == 0:
            print(f"Fizz")
        else:
            print(f"{n}")

**9) Write a function find_min_max(lst) that returns both the smallest and largest number in a list.**

In [3]:
# write your code here
def find_min_max(lst):
    return [min(lst), max(lst)]

In [4]:
lista=[123,54,6,6543,773,6,87,68]
find_min_max(lista)

[6, 6543]

**10) Write a function reverse_list(lst) that takes a list and returns a new list that is the reverse of the input list.**

In [5]:
# write your code here
def reverse_list(lst):
    lst.reverse()
    return lst
print(reverse_list([1,2,3,4,5]))

[5, 4, 3, 2, 1]

In [15]:
def reverse_list(lst):
    return lst[::-1]

In [16]:
print(reverse_list([1,2,3,4,5]))

[5, 4, 3, 2, 1]

**11) Write a function that categorizes a person's age into three groups:**

* "Child" if age is less than 12, 
* "Teenager" if age is between 12 and 18 (inclusive),
* "Adult" if age is greater than 18.

In [17]:
# write your code here

def categorize_by_age(n):
    if n <12:
        print ("Child")
    elif n>=12 and n <=18:
        print ("Teenager")
    elif n>18:
        print ("Adult")
    return n

categorize_by_age(12)

Teenager

12

In [18]:
def categorize_by_age(n):
    if n <12:
        return "Child"
    elif n>=12 and n <=18:
         return "Teenager"
    else:
        return "Adult"

categorize_by_age(12)

'Teenager'

**12) Write a function that prints all multiples of n between 1 and 30.**

In [19]:
# write your code here
def multiples_of_n(n):
    if n> 30 or n<0:
        return print(' there is no multiples of n')
    for i in range(1,30):
        if i % n == 0:
            print(i)

multiples_of_n(31)

 there is no multiples of n

**13) Write a function area_of_circle(radius) that calculates and returns the area of a circle, given the radius. Use the formula:
Area = π * radius^2 (Use π = 3.14159).**

In [20]:
# write your code here
def area_of_circle(radius):
    pi = 3.14159

    if radius > 0:
        area = pi * radius ** 2
        return area
    else:
        print ("Radio no válido.")
        
area_of_circle(2)

12.56636

**14) Write a function find_largest(a, b, c) that takes three numbers as arguments and returns the largest one.**

In [21]:
# write your code here

def find_largest(a,b,c):
    return max([a,b,c])
print(find_largest(3,4,5))

5

**15)Write a function fahrenheit_to_celsius(fahrenheit) that converts a given temperature from Fahrenheit to Celsius using the formula:
Celsius = (Fahrenheit - 32) * 5/9**

In [6]:
# write your code here
def fahrenheit_to_celsius(fahrenheit):
    Celsius = (fahrenheit - 32) * 5/9
    return Celsius

fahrenheit_to_celsius(5)

-15.0

**16) Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2 , the first 10 terms will be:**


1, 2, 3, 5, 8, 13, 21, 34, 55, 89...

**By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.**

expected output:

The sum of the even-valued terms is 4613732

In [9]:
def fibonacci_sequence(limit): 
    sequence = [1,2]
    even_sequence = [2]
    while sequence[-1] < limit:
        new_number = sequence[-1] + sequence[-2]
        sequence.append(new_number)
        if new_number% 2 == 0:
            even_sequence.append(new_number)
    return sum(even_sequence)

In [10]:
fibonacci_sequence(4*1e6)

4613732

**17) The prime factors of 13195 are 5,7,13 and 29. What is the largest prime factor of the number 600851475143?**

In [29]:
n = 600851475143
i = 2
while i * i <= n:
    if n % i == 0:
        n //= i
    else:
        i += 1
print ("the largest prime number factor of 600851475143 is", n)

the largest prime number factor of 600851475143 is 6857

expected output
the largest prime factor of  600851475143 is 6857